bin/
*.class
*.png
test/trace/patterns/
test/trace/logs
configs/*.launch
/refs/
target/
/.vscode/
/result/
*.pyc
trace/runtimelog/
d4j_resources/metadata_cached/*
trace/logs/mytrace/ProbGraph*
trace/logs/*
abstract_message/*
extract_message/*
/trace/patterns/*